body 
{
    background:url('../Images/1.jpeg');
    background-repeat:no-repeat;

}

.borderss {

    width:50%;
}

a 
{
    font: Arial, Halvetica, san-seriff;
    text-decoration:none;
    color:#fff;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    background-color: #35424a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container1 {

    width:80%;
    overflow:hidden;
    margin-top:200px;
    margin-bottom:200px;
    padding-left:120px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 768px) {
    span.psw {
       display: block;
       /*float: none;*/
    }
    .cancelbtn {
       width: 100%;
    }

    .container1
    {
        padding-left:60px;
    }
}