.girdss 
{
    /*width: 50%;*/
    margin:50px;

}


/*.gridss input[type="button"]

    {
    	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: #808080;
	border: #808080 1px solid;
	padding:  10px 10px;
	border-radius: 10px;
	margin-top: 20px;
}*/

.dropdownlist{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Button 
{
	height: 38px;
    width:100%;
	background: #35424a;
	border:0;
	color: #fff;
}

    .Button:hover {
        color: #000000;
        background: #ffffff;
    }

.Button2 
{
	height: 38px;
    width:20%;
	background: #35424a;
	border:0;
	color: #fff;
    margin-right:2px;
}

    .Button2:hover {
        color: #000000;
        background: #ffffff;
    }

.container
{
	width: 80%;
	margin:auto;
	overflow: hidden;
    padding:20px;
    text-align:center;
}

    .container h2 
    {
            text-transform:uppercase;
    }

